body
{
	background-color: LavenderBlush;
	margin: 0 0 0 0;
}
.header
{
	/* position: relative; */
	/* text-align: center; */
	float: inherit;
	background-color: #ffccdd;
	height: 12vw;
	max-height: 3.5cm;
	width: 100%;
}

.box1
{	
	position: relative;
	width: 15vw;
	height: 100%;
	float: right;
}

.main
{
	margin: auto;
	margin-top: 1vw;
	width: 80%;
	height: 80%;
}
.mainreg
{
	margin: auto;
	margin-top: 10vw;
	padding: 4vw;
	width: 15%;

}
.footer
{
	position: absolute;
	bottom: 0;
	background-color: #ffccdd;
	height: 12vw;
	max-height: 3.5cm;
	width: 100%;

}

.title
{
	text-align: center;
	font-family: arial;
	background-color: #ffccdd;
	border: none;
	margin: auto;
	height: 100%;
	width: 85%;
	font-size: 5vw;
	color: black;}

.title:focus {outline:0;}

.title:hover
{
	background-color: #ffccdd;
}
.login
{
	height: 1.7vw;
	width: 14.1vw;
	margin-left: 0.6vw;
	margin-top: -2vw;
	border: none;
}
.password
{
	height: 1.7vw;
	width: 14.1vw;
	margin-left: 0.6vw;
	margin-top: 2vw;
	border: none;
}
.button
{
	position: relative;
	float: right;
	width: 100%;
	height: 50%;
	font-size: 2vw;
	font-family: arial;
	color: white;
	background-color: #ffccdd;
	border: none;
}
.registerbutton
{
	position: relative;
	margin-top: 2vw;
	width: 14.1vw;
	height: 2vw;
	margin-left: 0.6vw;
	background-color: LavenderBlush;
	border: none;
	font-size: 1vw;
}

.modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    padding-top: 60px;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.signup {
    background-color: #ffccdd;
    color: LavenderBlush;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 36%;
}
button.signed
{
	position: relative;
	float: right;
	width: 100%;
	height: 50%;
	font-size: 2vw;
	font-family: arial;
	color: white;
	background-color: #ffccdd;
	border: none;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }

	.clearfix {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}}
.cancelbtn,.signupbtn {float:left;width:100%}


.container {
    padding: 16px;
}

